.cart {
	height: 100px;
	position: fixed;
	top: 0;
	right: 0;
	padding: 15px;
	display: flex;
	flex-direction: column;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	justify-content: center;
	background-color: #60D5AC;
	text-align: center;
	font-size: 16px;
}

.link {
	background-color: #006F48;
	border: none;
	padding: 5px 10px;
	margin-top: 5px;
	color: #fff;
	text-transform: uppercase;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	transition: background-color .3s;
	font-size: 14px;

	&:hover {
		background-color: #20805E;
	}
}

@media screen and (max-width: 768px) {
	.cart {
		top: 0;
		box-shadow: 5px 5px 10px rgba(0,0,0,.4);
		width: 100%;
	}
}