.wrapper {
	text-align: center;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 20px;
}

.loading {
	display: inline-block;
	width: 80px;
	height: 80px;
	font-size: 0;
}

.loading:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #00AB6F;
	border-color: #00AB6F transparent #00AB6F transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

.empty {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 50px;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
